
.header{
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  height: 60px;
  width: 100%;
  background-color:#3F51B5;
  font-size: 3em;
  color: #f5f5f5;
  padding-top: 5px;
  padding-left: 10px;
}

.header1{
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  display: block;
  height: 50px;
  margin-top: 5%;
  /*background-color:#3F51B5;*/
  /*color: #f5f5f5;*/
}

#content{
  /*height: auto;*/
}

#ProList{
  width: 299px;
  height: 100%;
  float: left;
  clear: left;
  background-color: #e2e4e7;
  border-right: 1px solid #e2e4e7;
  border-top: 1px solid #e2e4e7;
  display: block;
  overflow-y: auto;
  font-size: 1.5em;
}

#dcStatus,#reStatus{
  height: 100%;
  float: none;
  width: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  color: #555;
}

#dcServerInfo,#reServerInfo{
  height: 100%;
  float: none;
  width: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  color: #555;
}

.statuForm{
  width:60%;
  background-color: #e2e4e7;
  border-radius: 8px;
  float:right;
  position: relative;
  right: 20%;
  top: 60px;
}

.fieldlist
{
  margin:0;
  padding:0;
}

.fieldlist li
{
  list-style:none;
  padding:10px 0;
}

.fieldlist label {
  display: inline-block;
  width: 45%;
  margin-right: 20px;
  text-align: right;
}

#reGrid1,#reGrid2,#reGrid3 {
  width:60%;
  display:inline;
  float: right;
  position: relative;
  right:10%;
  top:50px;
  background-color: lightgrey;
}

.k-grid-toolbar{
  background-color: #3F51B5;
}

.toolButton{
  width: 80px;
  height: 30px;
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}