
.demo-section {
  width: 350px;
  height: 225px;
}

#fieldlist
{
  margin:0;
  padding:0;
}

#fieldlist li
{
  list-style:none;
  padding:10px 0;
}

#fieldlist label {
  display: inline-block;
  width: 100px;
  margin-right: 5px;
  text-align: right;
}

#login{
  margin-top: 10px;
  position: relative;
  left: 250px;
  font-family: monospace;
  font-weight: bold;
}

#language{
  font-family: monospace;
  font-weight: bold;
  position: relative;
  left: 50px;
}
